<!-- Footer -->

<div class="particles-js" id="foot" style="position: relative; background-color: #ff7712; display: none;">
    <footer style="background-color: #ff7712; position: relative;" >



      <div class="row p-5" style="margin: 0px;position: absolute;">
        <div class="col-sm-3 text-light">
          <img src="../../../assets/img/inicio/logo-hipermaxi.png" width="150px"  alt="">
          <p>Los mejores productos para tu hogar, Envios a domicilio sin costo!.</p>
        </div>
        <div class="col-sm-3 ">
          <div class="row" style="margin: 0px; display: grid;">
          <div class="col-sm-12 " > <a routerLink=""  class="text-light"> Inicio </a></div>
          <br>
          <div class="col-sm-12" > <a routerLink="frutasyverduras"  class="text-light"> Frutas y Verduras</a></div>
          <br>
          <div class="col-sm-12" > <a routerLink="bebidas"  class="text-light"> Bebidas</a></div>
          <br>
          <div class="col-sm-12" > <a routerLink="carne-embutido"  class="text-light"> Carne y Embutidos</a></div>
          <br>

          </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
         <p class="text-light">Nuestros terminos y condiciones</p>
         <a href="" class="btn btn-warning">Terminos y condiciones</a>
        </div>
        <div class="col-sm-3 text-light">
          <img src="../../../assets/img/inicio/logo-universidad-privada-domingo-savio.png" width="150px"  alt="">
          <p>Estudiantes:</p>
          <p>Brayan Fernandez Mercado</p>
          <p>Claudia Escobar Lazarte</p>
          <p>Materia: Programacion Web 2</p>
        </div>
      </div>

    </footer>
    </div>
    <!-- Fin de footer -->
    <script src="https://brian-fernandez.github.io/Particle/particle.js"></script>
<script src="https://brian-fernandez.github.io/Particle/particulas.js"></script>
