
<div class="contenedor">
  <div class="Seccion">
      <h1>Seccion: Carne & Embutidos</h1>
  </div>
  <div class="eslogan">
      <div class="titulo">
          <p class="negro">Una </p>
          <p class="rojo">ocación</p>
          <p class="negro">especial merece un</p>
          <p class="rojo">corte</p>
          <p class="negro">especial</p>
      </div>
      <div class="mensaje">
          <p>Así tu cuerpo absorbe todos los nutrientes y hace de tus comidas más atractivas y deliciosas.</p>
      </div>
  </div>
</div>
<!--Productos destacados-->
<div class="destacados">
  <div class="titulo-destacados">
      <p>Productos destacados</p>
  </div>

  <!-- carrosel intervalo productos -->
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Carne/Carne-molida-de Res Regular.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Carne Molida de Res Regular</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Carne/costilla-cortePreferido (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Costillar Corte Preferido</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Carne/cuadril-corazon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Corazon del Cuadril</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Carne/ChuletaEntrecortada.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Chuleta Entrecortada</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="carousel-item" data-interval="4000">
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Embutidos/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Chorizo Parrillero</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Embutidos/11.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Jamon Sandwichero en Barra</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Embutidos/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Chorizo Parrillero Picante a Granel</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 15em;">
            <img src="../../../assets/img/contenedor3/Embutidos/14.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Mortadela de Pollo</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  <!--Carusel pequeño-->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"style="width:100%;">
      <div class="carousel-inner">
        <div class="carousel-item active"style="width:100%;">
          <div class="card" style="width: 100%;">
              <img src="../../../assets/img/contenedor3/Carne/Carne-molida-de Res Regular.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Carne Molida de Res Regular</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item"style="width:100%;">
          <div class="card" style="width: 100%;">
              <img src="../../../assets/img/contenedor3/Carne/ChuletaEntrecortada.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Chuleta Entrecortada</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item"style="width:100%;">
          <div class="card" style="width: 100%;">
              <img src="../../../assets/img/contenedor3/Embutidos/11.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Jamon Sandwichero en Barra</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item"style="width:100%;">
          <div class="card" style="width: 100%;">
              <img src="../../../assets/img/contenedor3/Carne/cuadril-corazon.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Corazon del Cuadril</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item"style="width:100%;">
          <div class="card" style="width: 100%;">
              <img src="../../../assets/img/contenedor3/Embutidos/1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Chorizo Parrillero</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item"style="width:100%;">
          <div class="card" style="width: 15em;">
              <img src="../../../assets/img/contenedor3/Embutidos/4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="text-align: center;">Chorizo Parrillero Picante a Granel</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<!--Productos-->
<div class="productos">
  <div class="menu">
      <h2>Menú</h2>
      <!--menu verduras-->
      <div>
          <button id="btn-hortalizas" (click)="boton1()" >Lomo<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-tomates" (click)="boton2()" >Chuletas<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-papas" (click)="boton3()" >Costillar<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-lechugas" (click)="boton4()" >Cuadril<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-cebollas" (click)="boton5()" >Carne molida<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
      </div>
  </div>
  <div class="cont-vegetales">
      <h2>Cortes de carne</h2>
      <!--Seccion: Lomo-->
      <div class="seccion" id="hortalizas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/Lombajo.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto1">Lomo Bajo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto2">20</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda1()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/Lomo-ancho-sin hueso.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto3">Lomo Ancho Sin Hueso</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto4">30</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda2()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/LomoAlto-ans.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto5">Lomo alto</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto6">28</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect3">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda3()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: Chuleta-->
      <div class="seccion" id="tomates">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/ChuletaCorteDelgado.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto7">Chuleta Corte Delgado</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto8">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect4">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda4()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/ChuletaResParaAsar.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto9">Chuleta Res Para Asar</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto10">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect5">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda5()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/ChuletaEntrecortada.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto11">Chuleta Entrecortada</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto12">30</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect6">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda6()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion:  Costillar-->
      <div class="seccion" id="papas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/costilla-cortePreferido (2).jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto13">Costilla Corte Preferido</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto14">30</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect7">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda7()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/Costilla-de-res barbacoa.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto15">Costilla de Res para Barbacoa</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto16">30</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect8">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda8()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/CostilladeResParaAsar.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto17">Costilla para Asar</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto18">28</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect9">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda9()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion:  Cuadril-->
      <div class="seccion" id="lechugas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/cuadril-corazon.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto19">Corazon del Cuadril</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto20">35</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect10">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda10()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/colita-cuadril.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto21">Colita del Cuadril</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto22">38</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect11">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda11()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/Cuadrl.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto23">Cuadril Clasico</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto24">40</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect12">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda12()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion:  Carne molida-->
      <div class="seccion" id="cebollas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/molida-grasa-especial.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto25">Carne Molida 7% Grasa Especial</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto26">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect13">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda13()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/carneMolida-pulpa.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto27">Carne Molida Pulpa</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto28">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect14">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda14()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Carne/Carne-molida-de Res Regular.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto29">Carne Molida de Res Regular</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto30">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect15">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda15()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
<hr>
<!--seccion frutas-->
<div class="productos">
  <div class="menu">
      <h2>Menú</h2>
      <!--menu frutas-->
      <div>
          <button id="btn-citricos" (click)="boton6()"  >Chorizo empaquetado<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-melones" (click)="boton7()" >Chorizo a granel<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-frutas-secas" (click)="boton8()" >Salchichas<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-platanos" (click)="boton9()" >Jamon en Barra<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-manzanas" (click)="boton10()" >Mortadela empaquetada<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
          <button id="btn-uvas" (click)="boton11()" >Paté de Higado<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg></button>
      </div>
  </div>
  <div class="cont-vegetales">
      <h2>Fiambres y Embutidos</h2>
      <!--Seccion: chorrizo empaquetado-->
      <div class="seccion" id="citricos">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/1.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto31">Chorizo parrillero 5 Unidades</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto32">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect16">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda16()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/2.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto33">Chorizo parrillero Picante 1000gr</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto34">35</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect17">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda17()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/3.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto35">Chorizo Parrillero 5 Unidades</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto36">25</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect18">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda18()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: chorizo a granel-->
      <div class="seccion" id="melones">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/4.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto37">Chorizo Picante a Granel</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto38">35</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect19">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda19()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/5.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto39">Chorizo de Res a Granel</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto40">30</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect20">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda20()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/6.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto41">Chorizo Parrillero a Granel Especial</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto42">40</p><p>Bs x Kg</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect21">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda21()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: salchichas-->
      <div class="seccion" id="frutas-secas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/7.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto43">Salchicha Viena</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto44">18</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect22">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda22()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/8.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto45">Salchicha Viena 12 Unidades</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto46">35</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect23">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda23()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/9.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto47">Salchichas Cockteleras Viena</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto48">15</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect24">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda24()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: Jamon en barra-->
      <div class="seccion" id="platanos">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/10.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto49">Mortadela en Barra Morcilla</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto50">45</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect25">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda25()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/11.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto51">Jamon Sandwichero en Barra</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto52">50</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect26">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda26()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/12.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto53">Mortadela Jamonada en Barra</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto54">55</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect27">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda27()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: mortadela en bolsas-->
      <div class="seccion" id="manzanas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/13.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto55">Mortadela Paleta de Cerdo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto56">15</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect28">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda28()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/14.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto57">Mortadela de Pollo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto58">15</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect29">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda29()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/15.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto59">Jamon de Pavo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto60">15</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect30">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda30()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>
      <!--Seccion: pate de higado-->
      <div class="seccion" id="uvas">
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/16.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto61">Paté de Higado de Pollo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto62">20</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect31">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda31()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/17.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto63">Paté de Higado de Pollo Pequeño</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto64">10</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect32">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda32()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
          <div class="producto">
              <div>
                  <img src="../../../assets/img/contenedor3/Embutidos/18.jpg" alt="">
              </div>
              <div class="Nombre">
                <p id="Producto65">Paté de Higado de Cerdo</p>
              </div>
              <div class="precio" style="display: flex; flex-direction: row; justify-content: center;">
                <p id="Producto66">25</p><p>Bs</p>
              </div>
              <div class="comprar">
                  <select class="form-control" id="exampleFormControlSelect33">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                  <button class="btn btn-outline-success" onclick="guarda33()">
                      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> Comprar
                  </button>
              </div>
          </div>
      </div>


  </div>
</div>
